<div class="container-fluid">
  <h2>Registration Form</h2>

  <form [formGroup]="registrationForm">
    <!-- <div class="form-group">
      <label>User Name </label>
      <input [] formControlName="userName" type="text" class="form-control">
    </div> -->
    <div class="form-group">
      <label>User Name</label>
      <input [class.is-invalid]="registrationForm.invalid && registrationForm.touched" 
      formControlName="userName" type="text" class="form-control">
      <!-- <small [class.d-none]="registrationForm.valid || registrationForm.untouched" class="text-danger">Please enter the valid user name </small> -->
      <div *ngIf = "registrationForm.invalid && registrationForm.touched">
        <small *ngIf="registrationForm.touched" class="text-danger">User Name is required </small>
        <!-- <small *ngIf="registrationForm.get('userName').forbiddenName" class="text-danger">User Name isnot allowed </small> -->
        <!-- <small *ngIf="registrationForm.minlength" class="text-danger">User Name must be of 5 charcters </small> Not working--> 
      </div>
    </div>

    <br>
    <div class="form-group">
      <label>Password </label>
      <input formControlName="password" type="password" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <label>Confirm Password </label>
      <input formControlName="confirmPassword" type="password" class="form-control">
    </div>
    <br>

    <div>Address :</div>
    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input formControlName="city" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>State</label>
        <input formControlName="state" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Postal code</label>
        <input formControlName="postalCode" type="number" class="form-control">
      </div>
      <br>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
    
      <button (click)="loadApiData()" class="btn btn-secondary ml-20" type="button">Load API data</button>
    
  </form>
  {{registrationForm.value | json}}
</div>