<div class="container-fluid mb-5">

  <h1>BootCamp Enrollement Form</h1>

  <div class="alert alert-danger" *ngIf=errorMessage>
    {{errorMessage}}
  </div>
  <form #userForm="ngForm" *ngIf=!isSubmitted (ngSubmit)="onSubmit()" novalidate>
  
    <!-- 
  {{userForm.value | json}}
  <hr>
  {{userModel | json}} -->

    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control"
        name="userName" [(ngModel)]="userModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>  
    </div>
    <br>

    <div class="form-group">
      <label>Email id</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>
    <br>

    <div class="form-group">
      <label>Phone Number</label>
      <input type="tel" required #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched"
        class="form-control" name="phone" [(ngModel)]="userModel.phone">
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Invalid number</small>   -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" *ngIf="phone.hasError('required')">Phone number is required </small>
          <small class="text-danger" *ngIf="phone.hasError('pattern')">Phone number must be of 10 digits </small>
      </div>
    </div>
    <br>

    <div class="form-group">  
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" 
      #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" class="custome-select" name="topic" [(ngModel)]="userModel.topic">
        <option value="default">I am interested in </option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please select the topic</small>
    </div>
    <br>

    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check" >
        <input class="form-check-input" type="radio" [(ngModel)]="userModel.timePreference" value="morning" name="timePreference">
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="userModel.timePreference" value="evening" name="timePreference">
        <label class="form-check-label">Evening (5AM - 8PM)</label>
      </div>
      <!-- <small class="text-danger" >Please select the time slot</small> -->
    </div>


    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>





<!-- Write inside the form tag only. 
  <div ngModelGroup="address">
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" ngModel>
    </div>
    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" name="street" ngModel>
    </div>
    <div class="form-group">
      <label>Postal code</label>
      <input type="number" class="form-control" name="pcode" ngModel>
    </div>
  </div> -->